.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5rem;
  justify-content: center;
  justify-items: stretch;
}

.filters .container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select-box {
  display: flex;
  flex-direction: column;
}

.select-box .options-container {
  order: 1;
}

.selected {
  align-items: center;
  display: flex;
  justify-content: space-between;
  order: 0;
}

.country {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
  align-items: center;
}

.country-text {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.country-text h2 + div {
  display: flex;
  justify-content: space-between;
}

.border {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.taglist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 516px) {
  .country-text h2 + div {
    flex-direction: column;
  }
  .border {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  .taglist {
    display: flex;
    flex-wrap: wrap;
  }
}
